/*##########################全局#########################*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html，body {
    height: 100%;
}

aside {
    width: 310px;
    height: 100%;
    position: fixed;
    background: #262a30;
}

#content {
    height: 100%;
    padding-left: 300px;
    background-image: url("../lib/image/autumn.jpg");
}

/*##########################全局#########################*/
/*滚动条*/
#scrollBar{
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}
#main{
    width: 102vw;
}